<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="50" layout="row">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Passos</span>
            <span class="md-subhead">XX Restantes</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
      </md-card>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Medium</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-click="fitListData()">Action 1</md-button>
        </md-card-actions>
      </md-card>
    </div>
    
</md-content>