<!DOCTYPE html>
<html ng-app="playablefit">
    <head>
        <meta charset="utf-8">
        <title>PlayableFit</title>
        <!-- Angular Material CSS using GitCDN to load directly from `bower-material/master` -->
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <!-- Angular Material Javascript using GitCDN to load directly from `bower-material/master` -->
        <script src="https://gitcdn.link/repo/angular/bower-material/master/angular-material.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
        
        <script type="text/javascript">
			var app = angular.module('playablefit', ['ngAnimate', 'ngMaterial', 'ngRoute'])
            .config(function($mdThemingProvider) {
            $mdThemingProvider.theme('default')
                .primaryPalette('red')
                .accentPalette('orange');
            });
            var config = {
                apiKey: "AIzaSyAqrh54LshAen-T3gICnL5Q2_Ku7Z812Sc",
                authDomain: "playablefit.firebaseapp.com",
                databaseURL: "https://playablefit.firebaseio.com",
                storageBucket: "playablefit.appspot.com",
                messagingSenderId: "611631552213"
            };
            firebase.initializeApp(config);
        </script>
        <script type="text/javascript" src="../controllers/ViewerController.js"></script>
        <link href="../css/style.css" rel="stylesheet" type="text/css" media="screen" />
        <script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body id="ViewerController" ng-controller="ViewerController">
        <md-content >
            <md-toolbar class="md-whiteframe-7dp">
            <div class="md-toolbar-tools">
                <h2>
                    <span>PlayableFit</span>
                </h2>
                <span flex></span>
                <div id="user-loggin" ng-hide="user"></div>
                <md-menu>
                    <div id="user-logged" class="md-raised" ng-show="user" layout="row" ng-click="showSettingsMenu($mdOpenMenu, $event)">
                        <img ng-src="{{user.photoURL}}" class="avatar-size" alt="{{user.displayName}}"  />
                        <div layout="column" class="text-size">
                            <div>{{ user.displayName }}</div>
                            <div style="text-align:right; margin-top:2px">
                                <span class="level-size">Runner Lv1 </span>
                            </div>
                        </div>
                    </div>
                    <md-menu-content width="3">
                        <md-menu-item>
                        <md-button>
                            <md-icon class="material-icons">settings</md-icon>
                            Configurações
                        </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                        <md-button ng-click="handleSignedOutUser()">
                            <md-icon  class="material-icons">subdirectory_arrow_left</md-icon >
                            Sair
                        </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                
            </div>
            </md-toolbar>
            <div ng-include src="'./dashboard.html'"></div>
            
        </md-content>
    </body>
</html>